/*вся страница-----------------------------------------------------------------*/
:root {
    background-color: rgb(255, 255, 255);
}

html {
    height: 100%;
}

body {
    margin: 0 auto;
    height: 100%;
    max-width: 940px;
}
/*-----------------------------------------------------------------*/
main {
    border-left: 1px solid rgb(70, 5, 155);
    border-right: 1px solid rgb(70, 5, 155);
    height: 1000px;
}
/*подвал-----------------------------------------------------------------*/
footer {
    height: 100px;
    background-color: gray;
    clear: both;
    padding: 10px;
}
/*шапка-----------------------------------------------------------------*/
header {
    height: 150px;
    background-color: rgb(183, 131, 231);

}
h1{
    padding: 40px;
    font-size: 50px;
    margin: 0px;
    font-style: italic;
    color: rgb(250, 248, 248);
    
}
/*навигация-----------------------------------------------------------------*/
nav ul{
    margin: 0;
    padding: 10px 0;
    list-style-type: none;
    background-color: rgb(137, 67, 155);
}
nav li{
    display: inline;
    padding: 10px 20px;
}
nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
nav li:hover{
    background-color: brown;
}
.it {
    background-color: orange;
}
/*Семья-----------------------------------------------------------------*/
img{
    width: 200px;
    height: 200px;
    margin: 0 10px;
    float: left;
}
h2{
    margin: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(211, 29, 5);
}
hr{
    clear: both;
}
.dady{
    margin: 0px 10px 10px 10px;
}
/*таблица -----------------------------------------------------------------*/

table {
    vertical-align: top;
    float: left;
    margin-right: 30px;
}

td, th {
    border: 1px solid rgb(155, 12, 221);
    padding: 19px;
}

caption {
    padding: 10px;
    font-weight: bold;
    color: blueviolet;
    font-size: 18px;
    font-style: oblique;
}

table {
    margin: 20px;
    border-spacing: 0;
}

/*Форма--------------------------------------------------------------------------*/
form, fieldset {
    padding: 20px;
}
label{
    text-shadow: 2px 2px 2px rgb(150, 6, 145);
    color: white;
}
input[type=button]{
    padding: 10px;
    margin: 5px 3px 0 0;
    background-color: rgb(176, 121, 228);
    border: 2px solid rgb(90, 6, 87);
    text-shadow: 2px 2px 2px rgb(150, 6, 145);
    color: white;
}
input[type=button]:hover{
    background-color: white;
}
input:focus, textarea:focus{
    border: 2px solid rgb(202, 8, 196);
}
legend{
    color: rgb(58, 3, 56);
    font-size: 18px;
    font-style: italic;
}
